<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link active" href="#">Articles <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/saved">Saved Articles</a>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Articles <i class="far fa-list-alt"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>{{#each dbArticle}}</tr>
                    <td>
                      <div class="row">
                          <div class="col-md-10">
                            <h4>{{this.title}}</h4>
                            <p>{{this.summary}}</p>
                            <a href={{this.link}}>Read More</a>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger save" data-id={{this._id}}>Save Article <i class="far fa-bookmark"></i></button>
                        </div>
                      </div>
                    </td>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>